.signUp-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.signUp-container {
  flex-direction: row-reverse;
}

.form-group {
  position: relative;
}

.form-group input {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  border: 1px solid;
  padding: 0 12px;
  font-size: 14px;
}

.form-group select {
  width: 111%;
  height: 46px;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0 12px;
  font-size: 14px;
}

.form-group select:focus + label,
.form-group select:not([value=""]) + label {
  top: 0;
  font-size: 12px;
  color: #6b7280;
}

.form-group select:focus {
  outline: none;
}


.form-group input:focus {
  outline: none;
}

.form-group label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  padding: 0 6px;
  color: #6b7280;
  pointer-events: none;
  transition: 0.2s ease;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: 0;
}

.form-group.password {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #6b7280;
}

.toggle-password img {
  width: 20px;
  height: 20px;
}

.signUp-container {
  max-width: 1100px;
  width: 100%;
  display: flex;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.signUp-right {
  flex: 1;
  padding: 48px;
}

.signUp-logo {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row-reverse;
  margin-right: -30px;
}

.signUp-title {
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
}

.signUp-subtitle {
  color: #777;
  margin-bottom: 32px;
}

.signUp-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signUp-form input {
  height: 44px;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0 12px;
}

.signUp-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signUp-options label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.signUp-button {
  height: 44px;
  background: #515def;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.signUp-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp-illustration-card {
  background: #f4f4f4;
  border-radius: 24px;
  width: 420px;
  height: 680px;  
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.signUp-illustration-card img {
  width: 520px;
  height: 620px;
  object-fit: contain;
}

.signUp-slider {
  display: flex;
  gap: 6px;
}

.signUp-slider span {
  width: 8px;
  height: 8px;
  background: #ddd;
  border-radius: 50%;
}

.signUp-slider span.active {
  width: 20px;
  border-radius: 8px;
  background: #4f46e5;
}

.signUp-signup {
  margin-top: 16px;
  text-align: center;
}

.signUp-divider {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 24px 0;
  color: #9ca3af;
}

.signUp-divider::before,
.signUp-divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #e5e7eb;
}

.signUp-divider span {
  white-space: nowrap;
}

.signUp-social {
  display: flex;
  gap: 12px;
}

.social-btn {
  flex: 1;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #4f46e5;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social-btn img {
  height: 18px;
}

.link-color {
     color: #FF8682;
}

.signUp-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}